<!-- <p>Tudo funcionando com o componente game! \o/</p>
 -->
<div class="main-container">
  <h1
    class="mat-display-2"
    style="font-weight: 900; text-align: center; margin: 15px 0; color: #fff"
  >
    Jogo da Velha
  </h1>
  <div class="field">
    <p class="mat-display-1" style="color: #fff">
      Para começar, aperte o botão
    </p>
  </div>
  <div class="field" sityle="width:100%">
    <button mat-raised-button color="primary" class="start-game-button">
      Começe a jogar agora!
    </button>
  </div>
</div>
